{% load static %}

<dialog id="editProjectModal" class="modal backdrop-blur-sm">
    <div class="modal-box max-w-2xl">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>

        <h3 class="text-xl font-bold mb-6">Редактирование проекта</h3>

        <form id="editProjectForm" method="POST" class="space-y-4">
            {% csrf_token %}
            <input type="hidden" name="project_id" id="editProjectId">

            <!-- Основная информация -->
            <!-- Название -->
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Название проекта</span>
                </label>
                <input type="text" name="name" id="editProjectName" class="input input-bordered w-full" required
                    minlength="3" placeholder="Например: Интернет магазин" required>
            </div>

            <!-- Целевое действие -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">                
                 <div class="form-control">
                    <label class="label">
                        <span class="label-text">Название целевого действия</span>
                    </label>
                    <input type="text" name="customActionName" id="customActionNameInput"
                        class="input input-bordered w-full" required>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Цена за действие</span>
                    </label>
                    <input type="number" name="costPerAction" id="costPerActionInput"
                        class="input input-bordered w-full" step="0.01" min="0" value="30" required>
                </div>
            </div>

            <!-- Описание -->
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Описание проекта</span>
                </label>
                <textarea name="description" id="editProjectDescription" class="textarea textarea-bordered w-full h-24"
                    required minlength="15" maxlength="200" placeholder="Подробное описание проекта">
                        </textarea>
            </div>

            <!-- Статус и активность -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <!-- Активность -->
                <div class="form-control">
                    <label class="label cursor-pointer justify-start gap-3">
                        <input type="checkbox" name="is_active" id="editProjectActive" class="toggle toggle-primary"
                            checked>
                        <span class="label-text">Проект активен/неактивен</span>
                    </label>
                </div>
            </div>

            <!-- Кнопки -->
            <div class="modal-action">
                <button type="button" onclick="document.getElementById('editProjectModal').close()"
                    class="btn btn-outline">
                    Отмена
                </button>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save mr-2"></i> Сохранить изменения
                </button>
            </div>
        </form>
    </div>
    <!-- Фон модального окна -->
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>