{% load static %}

<div class="navbar bg-white shadow-lg sticky top-0 z-50" id="navbar">
    <div class="navbar-start">
        <div class="dropdown lg:hidden">
            <div tabindex="0" role="button" class="btn btn-ghost indicator btn-circle">
                <i class="fas fa-bars text-lg"></i>
                {% if notifications_count != 0 %}
                <span class="indicator-item badge badge-sm badge-soft">
                    {{ notifications_count }}
                </span>
                {% endif %}
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li>
                    <a href="{% url 'manager_dashboard' %}" class="nav-item indicator">
                        {% if notifications_count != 0 %}
                        <span class="indicator-item badge badge-sm badge-soft">
                            {{ notifications_count }}
                        </span>
                        {% endif %}
                        <i class="fas fa-chart-line"></i> Дашборд
                    </a>
                </li>
                <li><a href="{% url 'manager_projects' %}" class="nav-item"><i class="fa-solid fa-suitcase"></i> Проекты</a></li>
                <li><a href="{% url 'manager_platforms' %}" class="nav-item"><i class="fas fa-globe"></i> Площадки</a></li>
                <li><a href="{% url 'manager_users' %}" class="nav-item"><i class="fas fa-users"></i> Пользователи</a></li>
                <li><a href="{% url 'manager_partners' %}" class="nav-item"><i class="fa-solid fa-credit-card"></i> Выплаты</a></li>
                <li><a href="{% url 'manager_advertisers' %}" class="nav-item"><i class="fas fa-money-bill-wave"></i> Пополнения</a></li>
                <li><a href="{% url 'manager_reviews' %}"><i class="fa-solid fa-comments"></i> Отзывы</a></li>
                {% if request.user.is_staff %}<li><a href="/admin"> <i class="fas fa-user-shield"></i> Админ. панель</a></li>{% endif %}
            </ul>
        </div>
        <a href="{% url 'index' %}"
           class="btn btn-ghost border-none text-xl font-bold text-blue-600 hover:scale-105 transition-transform">
            <i class="fas fa-headset mr-2"></i>
            <span>LinkOffer</span>
        </a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            <li>
                <a href="{% url 'manager_dashboard' %}" class="nav-item indicator text-xs xl:text-sm">
                    {% if notifications_count != 0 %}
                    <span class="indicator-item badge badge-sm badge-soft">
                        {{ notifications_count }}
                    </span>
                    {% endif %}
                    <i class="fas fa-chart-line"></i>
                    <span class="hidden xl:inline">Дашборд</span>
                    <span class="xl:hidden">Даш</span>
                </a>
            </li>
            <li>
                <a href="{% url 'manager_projects' %}" class="nav-item text-xs xl:text-sm">
                    <i class="fa-solid fa-suitcase"></i>
                    <span class="hidden xl:inline">Проекты</span>
                    <span class="xl:hidden">Пр.</span>
                </a>
            </li>
            <li>
                <a href="{% url 'manager_platforms' %}" class="nav-item text-xs xl:text-sm">
                    <i class="fas fa-globe"></i>
                    <span class="hidden xl:inline">Площадки</span>
                    <span class="xl:hidden">Пл.</span>
                </a>
            </li>
            <li>
                <a href="{% url 'manager_users' %}" class="nav-item text-xs xl:text-sm">
                    <i class="fas fa-users"></i>
                    <span class="hidden xl:inline">Пользователи</span>
                    <span class="xl:hidden">Польз.</span>
                </a>
            </li>
            <li>
                <a href="{% url 'manager_partners' %}" class="nav-item text-xs xl:text-sm">
                    <i class="fa-solid fa-credit-card"></i>
                    <span class="hidden xl:inline">Выплаты</span>
                    <span class="xl:hidden">Выпл.</span>
                </a>
            </li>
            <li>
                <a href="{% url 'manager_advertisers' %}" class="nav-item text-xs xl:text-sm">
                    <i class="fas fa-money-bill-wave"></i>
                    <span class="hidden xl:inline">Пополнения</span>
                    <span class="xl:hidden">Попол.</span>
                </a>
            </li>
            <li>
                <a href="{% url 'manager_reviews' %}" class="nav-item text-xs xl:text-sm">
                    <i class="fa-solid fa-comments"></i>
                    <span class="hidden xl:inline">Отзывы</span>
                    <span class="xl:hidden">Отз.</span>
                </a>
            </li>
            {% if request.user.is_staff %}
            <li>
                <a href="/admin" class="nav-item text-xs xl:text-sm">
                    <i class="fas fa-user-shield"></i>
                    <span class="hidden xl:inline">Админ. панель</span>
                    <span class="xl:hidden">Админ</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="navbar-end">
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                <div class="avatar avatar-placeholder">
                    <div class="bg-neutral text-neutral-content w-10 rounded-full">
                        <i class="fas fa-user text-white text-lg"></i>
                    </div>
                </div>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box">
                <li>
                    <a href="{% url 'manager_settings' %}" class="nav-item text-lg w-full">
                        <i class="fas fa-cog"></i> Настройки
                    </a>
                </li>
                <li class="w-full p-0 cursor-pointer">
                    <form action="{% url 'logout' %}" class="flex justify-between w-full cursor-pointer" method="post">
                        {% csrf_token %}
                        <button type="submit"
                                class="hover:bg-gray-200 text-lg flex justify-start w-30 cursor-pointer"><i
                               class="fas fa-sign-out-alt mr-2"></i> Выход
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>